<form>
    <div class="dummy-editor-form-group">
        <label for="color">{{'separator.color' | translate}}:</label>
        <colorpicker placeholder="{{'separator.color' | translate }}" ng-model="item.color" id="color"></colorpicker>
    </div>
    <div class="dummy-editor-form-group">
        <label for="size">{{'separator.size' | translate}}:</label>
        <input type="text" class="dummy-editor-form-control" id="size" placeholder="{{'separator.size' | translate }}" ng-model="item.size">
    </div>
</form>
