
.icon-trash-empty:before { content: '\e800'; } /* '' */
.icon-ie:before { content: '\e801'; } /* '' */
.icon-spin5:before { content: '\e802'; } /* '' */
.icon-emo-unhappy:before { content: '\e803'; } /* '' */
.icon-emo-sleep:before { content: '\e804'; } /* '' */
.icon-emo-thumbsup:before { content: '\e805'; } /* '' */
.icon-emo-devil:before { content: '\e806'; } /* '' */
.icon-spin6:before { content: '\e807'; } /* '' */
.icon-firefox:before { content: '\e808'; } /* '' */
.icon-down-open:before { content: '\e809'; } /* '' */
.icon-up-open:before { content: '\e80a'; } /* '' */
.icon-up-big:before { content: '\e80b'; } /* '' */
.icon-right-big:before { content: '\e80c'; } /* '' */
.icon-left-big:before { content: '\e80d'; } /* '' */
.icon-down-big:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80f'; } /* '' */
.icon-minus:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e811'; } /* '' */
.icon-wrench:before { content: '\e812'; } /* '' */
.icon-right-open:before { content: '\e813'; } /* '' */
.icon-left-open:before { content: '\e814'; } /* '' */
.icon-right-dir:before { content: '\e815'; } /* '' */
.icon-left-dir:before { content: '\e816'; } /* '' */
.icon-up-dir:before { content: '\e817'; } /* '' */
.icon-down-dir:before { content: '\e818'; } /* '' */
.icon-cancel:before { content: '\e819'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */