<div ng-controller="elementInfoController" ng-mouseenter="mouseEnter(item)" ng-mouseleave="mouseExit(item)">
    <div ng-class="item.isContainer ? 'display-info-container' : 'display-info'" style="left: {{calculateLeft(item)}};" ng-show="isHover(item)">
        <a href="#" ng-click="openSettings()">
            <span style="vertical-align: super;">
                {{getWidget(item.type).name | translate}}
            </span>
            <i class="icon-cog glyphicon-big"></i>
        </a>
    </div>

    <div class="modal fade" id="settings-{{item.id}}" role="dialog">
        <div class="modal-dialog big-modal">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{'settingsTitle' | translate}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-include="baseUrl+item.type+'/settings.html'"></div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <label>{{'custom_classes' | translate}}:</label>
                            <div style="font-size: 20px;">
                                <ul class="list-inline">
                                    <li ng-repeat="cc in item.customClasses track by $index">
                                        <a class="dummy-btn dummy-btn-info" ng-click="removeCustomClass($index)">{{cc}}
                                            <span aria-hidden="true" style="margin-left:5px; color: white;">&times;</span>
                                        </a>
                                    </li>
                                    <li class="dummy-dropdown">
                                        <button class="dummy-btn dummy-btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            {{'add_css_class' | translate}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dummy-dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li ng-repeat="c in cssAvailableClasses track by $index">
                                                <a href="#" ng-click="addCustomClass(c)">{{c}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="dummy-btn dummy-btn-warning pull-left" ng-click="deleteElement($event)" data-dismiss="modal">{{'buttonDelete' | translate}}</button>
                    <button type="button" class="dummy-btn dummy-btn-default" data-dismiss="modal">{{'buttonClose' | translate}}</button>
                    <button type="button" class="dummy-btn dummy-btn-primary" ng-click="saveSettings()" data-dismiss="modal">{{'buttonSave' | translate}}</button>
                </div>
            </div>

        </div>
    </div>

</div>
